[submodule ".registry"]
	path = .registry
	url = https://github.com/the-kids-biostats/the-kids-biostats.r-universe.dev
	branch = HEAD
[submodule "thekidsbiostats"]
	path = thekidsbiostats
	url = https://github.com/The-Kids-Biostats/thekidsbiostats
